img {
        display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1.0;
    filter: alpha(opacity=40); /* For IE8 and earlier */
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.7);
}

img:hover {
    opacity: 0.6;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


pre {
    white-space: pre-wrap;
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 1.25rem;
    margin: 0 auto 1.875rem;
    overflow: auto;
    overflow-x:hidden;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 5px;
    border-left: 10px solid #F4FA58;
}

.post-content
  p
    code {
      padding: 2px 4px;
      font-size: 90%;
      color: #C7254E;
      background-color: #f9F2F4;
      border-radius:  4px;
}

.post-content h1, h2, h3, h4 { color: #18BC9C; }

.author .name a { color: #FF8000 }

.post-content { padding: 3.5rem 0; }

.adsense {
        margin-left: auto;
        margin-right: auto;
        text-align: -webkit-center;
}

.post-item .content .description { word-break: break-all; }

.mylogo { 
        box-shadow: none;
        max-height: 48px;
	margin-left: 0px;
	margin-right: 0px;
}


.bar-header { height: 4rem; }


